<% layout('layouts/lms-boilerplate') -%>

    <link rel="stylesheet" href="/stylesheets/chat.css">

    <div class="container-fluid">
        <div class=" row">
            <div class="col-md-10 ps-0">
                <div class="chat-header">
                    <h4
                        class="bg-white p-2 mb-0 border-bottom border-3 rounded text-center d-md-flex align-items-center justify-content-between">
                        <div class="fs-6">
                            <button class="btn" onclick="history.back()"><i
                                    class="fas fa-long-arrow-alt-left fa-2x"></i></button>
                            <%= _class.name %>
                        </div>
                        <div class="text-muted fs-6">
                            Teacher: <%= _class.teacher.username %>
                        </div>
                    </h4>
                </div>
                <div class="chat-container ps-3 ">
                    <% for (let chat of chats) {%>
                        <div
                            class="bg-white mt-3 <%= chat.name === currentUser.username? 'ms-auto': '' %>  p-3 chat-body text-end shadow">
                            <div class="chat-text-header d-flex justify-content-between border-bottom">
                                <p>
                                    <%= chat.name %>
                                </p>
                                <p class="text-muted ms-3">
                                    <%= formatDistanceToNow(Date.parse(chat.time), {addSuffix: true}) %>
                                </p>
                            </div>
                            <p>
                                <%= chat.input %>
                            </p>
                        </div>
                        <% } %>
                </div>
                <div class="my-1">
                    <form class="d-flex chat-form">
                        <input type="text" name="<%= currentUser.username %>" class="form-control chat-input ms-3"
                            autofocus required>
                        <button class="btn btn-success ms-3 chat-button">Send</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 d-none d-md-block">
                lists
            </div>
        </div>
    </div>

    <script>
        const user = '<%- currentUser.username %>';
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.js"></script>