<% layout('layouts/lms-boilerplate') -%>

<link rel="stylesheet" href="/stylesheets/profile.css" />

<div class="header">
  <a class="logo">PERSONAL INFORMATION</a>
</div>

<div class="profile-container">
  <div class="profile-profile-row">
    <div
      class="profile-profile-col-md-4 profile-profile-col-md-offset-4 profile-profile-col-sm-6 profile-profile-col-xs-12 profile-badge"
    >
      <!-- <img src="https://dummyimage.com/600x400/000/"> -->

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <div class="profile-container container">
        <div class="col-md-7 offset-md-3">
          <form action="/profile" method="POST" enctype="multipart/form-data">
            <div class="profile-pic">
              <img
                alt="User Pic"
                src="<%= user.profilePicture %>"
                id="profile-image1"
                height="200"
                class="mb-3"
              />
              <div style="color: #999"></div>
              <div class="mb-3">
                <input
                  class="form-control"
                  type="file"
                  id="formFile"
                  name="profile-picture"
                />
              </div>
            </div>
            <div class="profile-row d-flex">
              <div class="profile-col-25">
                <label for="fname">First Name:</label>
              </div>
              <div class="profile-col-75">
                <input
                  type="text"
                  id="fname"
                  name="firstname"
                  placeholder="Given Name"
                  value="<%= user.firstname %>"
                />
              </div>
            </div>

            <div class="profile-row d-flex">
              <div class="profile-col-25">
                <label for="lname">Last Name:</label>
              </div>
              <div class="profile-col-75">
                <input
                  type="text"
                  id="lname"
                  name="lastname"
                  placeholder="Surname"
                  value="<%= user.lastname %>"
                />
              </div>
            </div>

            <div class="profile-row d-flex">
              <div class="profile-col-25">
                <label for="bday">Birthday:</label>
              </div>
              <div class="profile-col-75">
                <input
                  type="text"
                  id="bday"
                  name="birthday"
                  placeholder="Month Day,Year"
                  value="<%= user.birthday %>"
                />
              </div>
            </div>

            <div class="profile-row d-flex">
              <div class="profile-col-25">
                <label for="cnumber">Contact Number:</label>
              </div>
              <div class="profile-col-75">
                <input
                  type="text"
                  id="cnumber"
                  name="number"
                  placeholder="Landline or Mobile Number"
                  value="<%= user.number %>"
                />
              </div>
            </div>

            <div class="profile-row d-flex">
              <div class="profile-col-25">
                <label for="email">E-mail:</label>
              </div>
              <div class="profile-col-75">
                <input
                  type="text"
                  id="email"
                  name="email"
                  placeholder="Email Address"
                  value="<%= user.email %>"
                />
              </div>
            </div>

            <div class="profile-row d-flex">
              <div class="profile-col-25">
                <label for="course">Course:</label>
              </div>
              <div class="profile-col-75">
                <input
                  type="text"
                  id="course"
                  name="course"
                  placeholder="Course Taken"
                  value="<%= user.course %>"
                />
              </div>
            </div>

            <div class="profile-row d-flex">
              <div class="profile-col-25">
                <label for="country">Campus:</label>
              </div>
              <div class="profile-col-75">
                <select id="campus" name="campus">
                  <option value="" disabled selected hidden>
                    Select from the list
                  </option>
                  <option>Angono</option>
                  <option>Antipolo</option>
                  <option>Binangonan</option>
                  <option selected>Cainta Main</option>
                  <option>Cogeo</option>
                  <option>San Mateo</option>
                  <option>Sumulong</option>
                  <option>Taytay</option>
                </select>
              </div>
            </div>

            <br />
            <div class="profile-row text-end">
              <input type="submit" class="editBtn" value="SAVE" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/profile.js"></script>
