<% layout('layouts/lms-boilerplate') -%>

  <link rel="stylesheet" href="/stylesheets/showClass.css" />

  <div class="container-fluid">
    <div class="row mt-3">
      <%- include('../partials/side-nav') %>
        <div class="col mx-1 mx-md-5">
          <div class="row header-class rounded mb-4">
            <div
              class="col d-flex flex-column flex-md-row justify-content-between align-items-center text-white pt-5 pb-3">
              <div class="header-left border-start border-danger border-5 mb-5 mb-md-0">
                <h4 class="fw-bold ms-2">
                  <%= showGroup.name %>
                </h4>
                <p class="ms-2 mb-0">Teacher: <%= showGroup.teacher.fullName %>
                </p>
              </div>
              <div class="header-right d-flex justify-content-around align-items-center text-center me-0 me-md-5">
                <% if (currentUser.type==='Teacher' ) {%>
                  <div class="me-5">
                    <div class="dropdown mt-2">
                      <i class="fas fa-clipboard-list fa-2x dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <p class="lead m-0 p-0 mt-1">Attendance</p>
                      </i>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="<%= showGroup.link.attendance %>" target="_blank">Open</a>
                        </li>
                        <li><a class="dropdown-item" href="/group/<%= showGroup._id %>/link">Edit</a></li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <div class="dropdown mt-2">
                      <i class="fas fas fa-video fa-2x dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <p class="lead m-0 p-0 mt-1">Video Conferrence</p>
                      </i>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="<%= showGroup.link.video %>" target="_blank">Open</a></li>
                        <li><a class="dropdown-item" href="/group/<%= showGroup._id %>/link">Edit</a></li>
                      </ul>
                    </div>
                  </div>
                  <% } else { %>
                    <% if (showGroup.link.attendance){ %>
                      <div class="me-5">
                        <a href="<%= showGroup.link.attendance %>" class="link-light" target="_blank">
                          <i class="fas fa-clipboard-list fa-2x"></i>
                          <p>Attendance</p>
                        </a>
                      </div>
                      <% } %>
                    <% if (showGroup.link.video) { %>
                        <a href="<%= showGroup.link.video %>" class="link-light" target="_blank">
                        <i class="fas fa-video fa-2x"></i>
                        <p>Video Conferrence</p>
                        </a>
                        <% } %>
                        <% } %>
              </div>
            </div>
          </div>
          <div class="row d-flex flex-column-reverse flex-md-row">
            <div class="col-md-8 ps-md-0 mt-3 mt-md-0">
              <div class="tab-content">

                <div class="tab-pane container active" id="members">
                  
                <% if (currentUser.type === 'Student') {%> 
                <h4 class="border-bottom border-5">Pending</h4>
                <% if (!user.quizes.length) {%>
                    <h4 class="text-muted text-center">No Pending tasks</h4>
                    <% } else { %> 
                    <% if (currentUser.type === 'Student'){ %> 
                        <% for (let quiz of user.quizes) {%> 
                    <ul class="list-group">
                      <li class="list-group-item d-flex align-items-center">
                        <div>
                          <h5>
                            <%= quiz.title %> 
                          </h5>
                        </div>
                        <div class="ms-auto">
                            <a href="/quiz/take/<%= quiz.groupId %>/<%= quiz._id %>" class="btn btn-success">Open</a>
                        </div>
                      </li>
                    </ul>
                    <% } %> 
                    <% } %> 
                    <% } %> 

                    <h4 class="border-bottom border-5 mt-5">Done</h4>
                    <% if (!user.done.length) {%>
                        <h4 class="text-muted text-center">Nothing here</h4>
                        <% } else { %> 
                    <% if (currentUser.type === 'Student'){ %> 
                        <% for (let quiz of user.done) {%> 
                    <ul class="list-group">
                      <li class="list-group-item d-flex align-items-center">
                        <div>
                          <h5>
                            <%= quiz.quizId.title %> 
                          </h5>
                        </div>
                        <div class="ms-auto">
                           <%= quiz.score %>/ <%= quiz.quizId.quiz.length %> 
                        </div>
                      </li>
                    </ul>
                    <% } %> 
                    <% } %> 
                    <% } %> 
                    <% } %> 


                    <% if (currentUser.type === "Teacher") {%>
                        <h4 class="border-bottom border-5">Student quizes</h4>
                        <% if (!doneQuiz.length) {%> 
                            <h4 class="text-muted text-center">Nothing here yet</h4>
                            <% } else { %> 
                        <% for (let quiz of doneQuiz) {%> 
                            <% if (quiz.done.length) {%> 
                                <% for (let q of quiz.done) {%> 
                            <ul class="list-group">
                              <li class="list-group-item d-flex align-items-center">
                                <div>
                                  <h5>
                                    <%= quiz.fullName %> 
                                  </h5>
                                </div>
                                <div class="ms-auto">
                                    <h5>
                                        <%= q.score %>/<%= q.quizId.quiz.length %>  
                                      </h5>
                                </div>
                              </li>
                            </ul>
                            <% } %> 
                            <% } %> 
                            <% } %> 
                            <% } %> 
                        <% } %> 
               
                </div>
                <div class="tab-pane container fade" id="pending"></div>
              </div>
            </div>
            <div class="col-md-4 pe-md-0">
              <div>
                <div class="dropdown">
                  <button class="btn btn-secondary btn-lg w-100 dropdown-toggle text-start overflow-show" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <p class="fs-4"><i class="fas fa-bars me-2"></i> My Group</p>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <% for (let group of user.groups) { %>
                      <li>
                        <a class="dropdown-item" href="/group/<%= group._id %>">
                          <%= group.name %>
                        </a>
                      </li>
                      <% } %>
                  </ul>
                </div>
              </div>
              <div>
                <div class="list-group mt-2 fs-5 d-flex flex-row d-md-block">
                  <a href="/group/<%= showGroup._id %>" class="list-group-item list-group-item-action fw-bold">
                    Post
                  </a>
                  <a href="/group/<%= showGroup._id %>/members" class="list-group-item list-group-item-action fw-bold"
                    aria-current="true">Members</a>
                    <a href="/group/<%= showGroup._id %>/quizes"
                      class="list-group-item list-group-item-action fw-bold active">Quizes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>