<% layout('layouts/lms-boilerplate') -%>


<div class="container-fluid mt-3 text-center d-flex ps-0 ">
    <%- include('../partials/side-nav') %>

    
        <% if (currentUser.type === 'Teacher') {%> 
            <div class="row ms-2 w-100 position-relative pt-5">
                <div class="position-absolute top-0">
                    <a class="btn btn-success" href="/quiz/create">Create Quiz</a>
                </div>
                
                <% for (let quiz of quizes) {%>
                    <div class="col-md-6 offset-md-3">
                        <div class="card mb-3 ms-2">
                            <div class="card-body d-flex">
                                <p class="card-title fw-bold"><%= quiz.title %></p>
                                <p class="ms-5"><%= quiz.description %></p>
                                <a href="/quiz/open/<%= quiz._id %>" class="btn btn-primary ms-auto">Open</a>
                            </div>
                        </div>
                    </div>
                <% } %> 

            </div>
        <% } %> 

        
            <% if (currentUser.type === 'Student') {%>
                <div class="w-100">
                    <% if (!userQuizes.quizes.length) { %>
                        <h4 class="text-muted text-center">No quizes</h4>
                        <% } %> 
                <% for (let quiz of userQuizes.quizes) {%>
                    <div class="col-md-6 offset-md-3">
                        <div class="card mb-3 ms-2">
                            <div class="card-body d-flex">
                                <p class="text-muted me-3"><%= formatDistanceToNow(Date.parse(quiz.dueDate), {addSuffix: true}) %></p>
                                <p class="card-title fw-bold"><%= quiz.title %></p>
                                <a href="/quiz/take/<%= quiz.groupId %>/<%= quiz._id %>/" 
                                    class="btn btn-primary ms-auto">
                                    Open
                                </a>
                            </div>
                        </div>
                    </div>
                <% } %>          
                </div>
            <% } %> 

    </div>